/* style.scss */

// partials
@import 'vendors/foundation.min.css';
@import 'tools/variables';
@import 'tools/mixins';
@import 'base/base';
@import 'base/typography';
@import 'objects/primary-img';
@import 'objects/icon';
@import 'objects/vid-placeholder';
@import 'objects/section-break';
@import 'objects/image-wrapper';
@import 'objects/overlay';
@import 'objects/logo';
@import 'components/nav-personal';
@import 'components/project-header';
@import 'components/list-roles';
@import 'components/carousel';
@import 'components/scrollUp';
@import 'components/button-primary';
