$bg-black: #333333;
$gray: #787878;
$about-body-white: #a9a9a9;
$tagline-size: 30px;
$title-size: 42px;
$subtitle-size: 18px;

@mixin vertically-center($percent) {
	top: percentage($percent);
	-webkit-transform: translate(0, percentage(-$percent));
	-moz-transform: translate(0, percentage(-$percent));
	-ms-transform: translate(0, percentage(-$percent));
	-o-transform: translate(0, percentage(-$percent));
	transform: translate(0, percentage(-$percent));
}

@mixin transition-ease-out($time) {
	-webkit-transition: $time ease-out;
  	-moz-transition: $time ease-out;
  	-ms-transition: $time ease-out;
  	-o-transition: $time ease-out;
  	transition: $time ease-out;
}

@mixin translate-right($x) {
	-webkit-transform: translateX(percentage($x));
	-moz-transform: translateX(percentage($x));
	-ms-transform: translateX(percentage($x));
	-o-transform: translateX(percentage($x));
	transform: translateX(percentage($x));
}

body {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
   	font-weight: 300;
}

a,
a:visited,
a:hover {
	-webkit-text-decoration: none;
	-moz-text-decoration: none;
	-ms-text-decoration: none;
	-o-text-decoration: none;
	text-decoration: none;
}

.container {
	position: relative;
	padding-top: 5px;
	width: 100%;
	height: 100%;
	background-image: url("../img/pink-dolphin-feature-image.jpg");
}

/* About Me
======================================= */

.about-box {
	background-color: $bg-black;
	padding: 10%;
}

.about-header-container {
	width: 800px;
	height: 165px;
	background-image: url("../img/pink-dolphin-feature-image.jpg");
	background-repeat: no-repeat;
}

.about-tagline {
	margin: 50px 0;
	color: $gray;
	font-size: $tagline-size;
}

.about-desc {
	color: $about-body-white;
	max-width: 640px;
	line-height: 1.3;
	font-size: $subtitle-size;
}

/* Portfolio
======================================= */

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	left: -100%;
}

@each $i, $color in (1: #ff645b,
					2: #36d7c7,
					3: #f9690e,
					4: #23c4f5) {
	.project#{$i}-box {
		position: relative;
		width: 100%;
		height: 200px;
		background-color: $color;
	}

	.project#{$i}-box:hover .overlay {
		@include translate-right(1);
		@include transition-ease-out(1s);
	}

	.project#{$i}-box:hover .project-text {
		color: black;
		@include transition-ease-out(1s);
	}
}

.project-header {
	@include vertically-center(0.5);
	position: relative;
	padding-left: 10%;
}

.project-title, .project-subtitle {
	font-family: 'Montserrat';
	color: white;
}

.project-title {
	font-size: $title-size;
	font-weight: 700;
}

.project-subtitle {
	font-size: $subtitle-size;
	margin-left: 2px;
}