/* style.scss */
@import url(vendors/foundation.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:400,300);
body {
  background-color: #f6f6f6;
  position: relative; }

a {
  color: #008CBA;
  line-height: inherit;
  text-decoration: none; }
  a:hover {
    color: #009fd4; }

body {
  font-size: 1em;
  font-family: "Open Sans", Helvetica, sans-serif;
  line-height: 1.6; }

.image-wrapper-text {
  font-size: 4em;
  font-weight: 300;
  font-family: "Lato";
  letter-spacing: 0.07em;
  text-transform: uppercase; }

.copy, .blurb {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: left; }

.blurb {
  text-align: center; }

.icon {
  width: 40px;
  height: 40px; }
  .icon:hover {
    opacity: 0.8; }

#twitter-icon {
  width: 48px;
  height: 48px; }

.vid-placeholder {
  height: 560px; }
  .vid-placeholder iframe {
    width: 100%;
    height: 100%; }

.section-break-large, .section-break-line-l {
  margin: 12rem 0; }
  @media screen and (max-width: 450px) {
    .section-break-large, .section-break-line-l {
      margin: 6rem 0; } }

.section-break-medium, .section-break-line-m {
  margin: 6rem 0; }
  @media screen and (max-width: 450px) {
    .section-break-medium, .section-break-line-m {
      margin: 3rem 0; } }

.section-break-small, .section-break-line-s {
  margin: 3rem 0; }

.section-break-xs {
  margin: 1.5rem 0; }

.section-break-line-l, .section-break-line-m, .section-break-line-s {
  width: 15%;
  height: 1px;
  background-color: #bbbbbb; }

.image-wrapper-title {
  font-size: 1.5rem; }

.image-wrapper-project, .image-wrapper-profile {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .image-wrapper-project img, .image-wrapper-profile img {
    width: 100%;
    transition-duration: 0.3s; }

.image-wrapper-project {
  max-height: 650px; }
  .image-wrapper-project span {
    opacity: 0;
    transition: 0.3s ease-out;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -80%);
    -ms-transform: translate(-50%, -80%);
    transform: translate(-50%, -80%);
    text-align: center;
    color: #fff; }
  .image-wrapper-project:hover img {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  .image-wrapper-project:hover .overlay {
    opacity: 0.5;
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    z-index: 99; }
  .image-wrapper-project:hover span {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    transition-delay: 0s;
    z-index: 100; }

.image-wrapper-profile {
  height: 100%; }
  .image-wrapper-profile::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../img/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    will-change: transform;
    z-index: -1; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: 0.3s ease-out; }

.nav-personal a {
  padding: 0 0 0 0; }

.nav-personal {
  font-size: 1em;
  text-align: left; }
  .nav-personal a {
    margin-right: 3em;
    transition: 0.1s; }
    .nav-personal a:hover {
      color: #000; }
  @media screen and (max-width: 500px) {
    .nav-personal a {
      margin-right: 1.5em; } }

body {
  font-size: 1em;
  font-family: "Open Sans", Helvetica, sans-serif;
  line-height: 1.6; }

.image-wrapper-text {
  font-size: 4em;
  font-weight: 300;
  font-family: "Lato";
  letter-spacing: 0.07em;
  text-transform: uppercase; }

.copy, .blurb {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: left; }

.blurb {
  text-align: center; }

.project-title, .project-subtitle, .project-title-subsection {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: left; }

.project-subtitle {
  font-size: 1.2rem;
  font-weight: 400; }

.list-roles-title {
  font-size: 1.5rem; }

.list-roles-ol, .list-roles-ul {
  text-align: left;
  text-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0; }

.list-roles-ol {
  font-size: 1.1rem; }
  .list-roles-ol a:hover {
    color: #000; }

.list-roles-ul {
  list-style: none;
  line-height: 1.8; }
  @media screen and (max-width: 40em) {
    .list-roles-ul {
      margin-top: 2em; } }

.list-roles li {
  padding: 0px 6px; }

.role {
  font-weight: 700;
  letter-spacing: 0.02em; }

.carousel-container {
  position: relative; }

.image-container {
  position: relative; }

.image-placeholder {
  opacity: 1;
  transition: 0.5s; }

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s; }

.image-menu {
  text-align: center; }

.thumbnail, .thumbnail-selected {
  width: 20%;
  opacity: 0.5; }
  .thumbnail:hover, .thumbnail-selected:hover, .thumbnail:focus, .thumbnail-selected:focus {
    opacity: 1;
    transition: 0.5s; }

.thumbnail-selected {
  opacity: 1; }

#scrollUp {
  bottom: 20px;
  right: 20px;
  width: 38px;
  /* Width of image */
  height: 38px;
  /* Height of image */
  background-image: url("../img/icons/top.png"); }

/*# sourceMappingURL=style.css.map */
