[submodule "lissajous"]
	path = lissajous
	url = https://github.com/mattchiang777/lissajous.git
[submodule "oscilloscope"]
	path = oscilloscope
	url = https://github.com/mattchiang777/oscilloscope.git
[submodule "gsp"]
	path = gsp
	url = https://github.com/mattchiang777/gsp.git
[submodule "pinning"]
	path = pinning
	url = https://github.com/mattchiang777/pinning.git
[submodule "winlike82"]
	path = winlike82
	url = https://github.com/mattchiang777/winlike82.git
