[submodule "lissajous"]
	path = lissajous
	url = https://github.com/mattchiang777/lissajous.git
[submodule "oscilloscope"]
	path = oscilloscope
	url = https://github.com/mattchiang777/oscilloscope.git
