// objects/_image-wrapper.scss

@import '../tools/mixins';

.image-wrapper-title {
	font-size: 1.5rem;
}

%image-wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	img {
		width: 100%;
		// height: 100%;
		// transition: 0.3s ease-out;
		@include transition(0.3s);
	}
}

.image-wrapper-project {
	@extend %image-wrapper;
	max-height: 650px;
	span {
		opacity: 0;
		transition: 0.3s ease-out;
		position: absolute;
		left: 50%;
		top: 50%;
		@include translate(-50%, -80%);
		text-align: center;
		color: #fff;
	}
	&:hover {
		img {
			@include scale(1.1, 1.1);
		}
		.overlay {
			opacity: 0.5;
			@include scale(1.1, 1.1);
			z-index: 99;
		}
		span {
			@include translate(-50%, -50%);
			opacity: 1;
			transition-delay: 0s;
			z-index: 100;
		}
	}
}

.image-wrapper-profile {
	@extend %image-wrapper;
	height: 100%;
	&::before {
		content: ' ';
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@media screen and (max-width: 1024px) {
			background-image: url("../img/Matt-LinkedIn-Headshot-4.JPG");	
		}
		background-image: url("../img/bevel.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		will-change: transform;
		z-index: -1;
	}
}