// _section-break.scss

$line-length: 15%;
$thickness: 1px;
$color: rgb(187, 187, 187);
$margin-large: 12rem; //200px;
$margin-medium: 6rem; //100px;
$margin-small: 3rem; //50px;

// need media query for small

.section-break-large {
	margin: $margin-large 0;
	@media screen and (max-width: 450px) {
		margin: $margin-large/2 0;
	}
}

.section-break-medium {
	margin: $margin-medium 0;
	@media screen and (max-width: 450px) {
		margin: $margin-medium/2 0;
	}
}

.section-break-small {
	margin: $margin-small 0;
}

.section-break-xs {
	margin: $margin-small/2 0;
}

// Section breaks with line

%section-break-line {
	width: $line-length;
	height: $thickness;
	background-color: $color;
}

.section-break-line-l {
	@extend %section-break-line;
	@extend .section-break-large;
}

.section-break-line-m {
	@extend %section-break-line;
	@extend .section-break-medium;
}

.section-break-line-s {
	@extend %section-break-line;
	@extend .section-break-small;
}