// _mixins.scss

// public mixins
@mixin transition($duration, $transition: linear) {
	transition: {
		duration: $duration;
	}
}

@mixin translate($x, $y) {
	-webkit-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin scale($x, $y) {
	-webkit-transform: scale($x, $y);
	-ms-transform: scale($x, $y);
	transform: scale($x, $y);
}