// _carousel.scss

// The carousel-container contains the image-container which is where the selected image is shown. An image-menu contains the thumbnails to choose from

$unselected-opacity: 0.5;
$selected-opacity: 1;
$carousel-menu-buffer-size: 2rem;
$margin-size: 100px;

.carousel-container {
	position: relative;
	// margin-bottom: $carousel-menu-buffer-size;
}

.image-container {
	position: relative;
	// margin-bottom: $margin-size;
}

// image-placeholder determines which image is shown
.image-placeholder {
	opacity: 1;
	transition: 0.5s;
}

// carousel-images are hidden
.carousel-image {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.5s;
}

.image-menu {
	text-align: center;
}

.thumbnail {
	width: 20%;
	opacity: $unselected-opacity;
	&:hover, &:focus {
		opacity: $selected-opacity;
		transition: 0.5s;
	}
}

.thumbnail-selected {
	@extend .thumbnail;
	opacity: $selected-opacity;
}