// components/_list-roles.scss

$spacing: 0px 6px;
$text-color: rgba(0, 0, 0, 0.7);
$role-font-weight: 700;
// $border-style: 1px solid #111111;

.list-roles-title {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

%list-roles {
	text-align: left;
	text-color: $text-color;
	margin-bottom: 0;
	// border-top: $border-style;
}

.list-roles-ol {
	@extend %list-roles;
	font-size: 1.1rem;
	a:hover {
		color: #000;
	}
}

.list-roles-ul {
	@extend %list-roles;
	list-style: none;
	line-height: 1.8;
	a:hover {
		color: #000;
	}
	@media screen and (max-width: 40em) {
		margin-top: 2em;
	}
}

.list-roles li {
	// border-bottom: $border-style;
	padding: $spacing;
}

.role {
	font-weight: $role-font-weight;
	letter-spacing: 0.02em;
}